body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #86c7ec;
    font-family: Arial, sans-serif;
}

.stopwatch-container {
    text-align: center;
    background-color: #04092e;
    padding: 100px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(67, 60, 60, 0.1);
}

#stopwatch {
    font-size: 5em;
    color: rgb(23, 246, 172);
    margin-bottom: 20px;
}

#stopwatch span {
    margin:  0 5px;
}

.buttons button {
    padding: 20px 40px;
    font-size: 1em;
    font-style:initial;
    color: rgb(11, 11, 11);
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #e26b6b;
}
